{% extends "base.html" %}
{% block main %}
    <form id="form" action="/" class="form-search well">
        <select id="csv_file_name" name="csv_file_name">
            {% if csv_file_list %}
                {% for csv in csv_file_list %}
                    <option  {% if csv_file_name == csv %} selected="selected" {% endif %}
                                                              value="{{ csv }}">{{ csv }}</option>
                {% endfor %}
            {% endif %}
        </select>
        <select id="company_name" name="company_name">
            <option value="ALL">All Company</option>
            {% if companies %}
                {% for company in companies %}
                    <option  {% if company_name == company %} selected="selected" {% endif %}
                                                              value="{{ company }}">{{ company }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </form>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Company name</th>
            <th>FB likes</th>
            <th>FB talking about count</th>
            <th>FB checkins</th>
            <th>FB T/L</th>
            <th>FB Ch/L</th>
            <th>FB Combined</th>
            <th>sqrt(FB_Likes)</th>
            <th>sqrt(FBTChk)</th>
            <th>FBHealth</th>
            <th>TW followers</th>
            <th>TW tweets</th>
            <th>TW Impact</th>
            <th>TW Engagement</th>
            <th>TW Influence</th>
            <th>TW Retweeted</th>
            <th>TW KlTrueReach</th>
            <th>TWHealth</th>
            <th>YT subscriber count</th>
            <th>YT view count</th>
            <th>YT Health</th>
            <th>TSSH Raw</th>
            <th>TSSH PwrReduced</th>
            <th>%FB</th>
            <th>%TW</th>
            <th>%YT</th>
            <th>FB (abs)</th>
            <th>TW (abs)</th>
            <th>YT (abs)</th>
            <th>Taken time</th>
        </tr>
        </thead>
        <tbody>
        {% if items %}
            {% for item in items %}
                <tr>
                    <td><a class="company_url" rel="{{ item[0] }}" href="/company_chart?csv_file_name={{ csv_file_name }}&company_name={{ item[0] }}">{{ item[0] }}</a></td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4]|round(2) }}</td>
                    <td>{{ item[5]|round(2) }}</td>
                    <td>{{ item[6]|round(2) }}</td>
                    <td>{{ item[7]|round(2) }}</td>
                    <td>{{ item[8]|round(2) }}</td>
                    <td>{{ item[9]|round(2) }}</td>
                    <td>{{ item[10] }}</td>
                    <td>{{ item[11] }}</td>
                    <td>{{ item[12] }}</td>
                    <td>{{ item[13] }}</td>
                    <td>{{ item[14] }}</td>
                    <td>{{ item[15] }}</td>
                    <td>{{ item[16] }}</td>
                    <td>{{ item[17]|round(2) }}</td>
                    <td>{{ item[18] }}</td>
                    <td>{{ item[19] }}</td>
                    <td>{{ item[20]|round(2) }}</td>
                    <td>{{ item[21]|round(2) }}</td>
                    <td>{{ item[22]|round(2) }}</td>
                    <td>{{ item[23]|round(2) }}</td>
                    <td>{{ item[24]|round(2) }}</td>
                    <td>{{ item[25]|round(2) }}</td>
                    <td>{{ item[26]|round(2) }}</td>
                    <td>{{ item[27]|round(2) }}</td>
                    <td>{{ item[28]|round(2) }}</td>
                    <td>{{ item[29] }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="30">No data</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block ext_script %}
    <script type="text/javascript">
        $(function () {
            $("#company_name").change(function () {
                $("#form").submit();
            });

            $("#csv_file_name").change(function () {
                $("#company_name").val("");
                $("#form").submit();
            });

            $("a.company_url").click(function() {
                company_name = $(this).attr("rel");
                company_name = company_name.replace("&", "%26");
                url = "/company_chart?csv_file_name=" + "{{ csv_file_name }}" +"&company_name=" + company_name;
                window.location.href=url;
                return false
            });
        })
    </script>
{% endblock %}