{% extends "base.html" %}

{% block main %}
{% if error_message %}
<div class="alert alert-error alert-block">
    <a class="close" data-dismiss="alert" href="#">×</a>

    <p>{{ error_message }}</p>
</div>
{% endif %}
<form class="form-horizontal" id="upload_form" action="/upload" method="post" enctype="multipart/form-data">
    <label class="file-label" for="csvfile">CSV file</label>
    <input type="file" id="csvfile" name="csvfile"/>

    <div class="form-actions">
        <button id="upload_file" type="submit" class="btn btn-info btn-large">Upload</button>
    </div>
</form>
{% endblock %}
